/* line 1, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 21, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_buttons.scss */
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #11519a;
  color: #fff;
}
/* line 27, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_buttons.scss */
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 31, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_buttons.scss */
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
  background-color: #1565c0;
}

/* line 1, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
legend, #addUsrLabel {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

/* line 14, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
input,
select {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

/* line 27, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
/* line 41, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple]:hover {
  border-color: #b1b1b1;
}
/* line 45, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple]:focus {
  border-color: #1565c0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
  outline: none;
}
/* line 51, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
/* line 55, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #ddd;
}

/* line 61, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 65, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
[type="search"] {
  appearance: none;
}

/* line 69, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 75, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 80, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 11, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_lists.scss */
dl dt {
  font-weight: 600;
  margin-top: 0.75em;
}
/* line 16, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_typography.scss */
body {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 8, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em;
}

/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 24, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_typography.scss */
a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease;
}
/* line 29, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #104c90;
}

/* line 36, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 44, /Users/dayne-arron/bpquote/app/assets/stylesheets/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 4, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 3, /Users/dayne-arron/bpquote/app/assets/stylesheets/variables.scss */
.transition, .wrapper .form-wrapper .form .btn, .cta a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 1, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

/* line 10, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.logo {
  min-height: 110px;
  margin-bottom: 25px;
  background-image: url(/assets/balboa-logo-a6350c340529620e9c08d25ec9e79123306ed074685f6fb5f76f40a9e5d50d87.svg);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}
@media screen and (min-width: 40em) {
  /* line 10, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
  .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
  }
  /* line 89, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/grid/_span-columns.scss */
  .logo:last-child {
    margin-right: 0;
  }
}

/* line 28, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper {
  position: relative;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='background.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(\a 	src='background.png',\a 	sizingMethod='scale')";
  background-position: center center;
  background-image: url(/assets/background-49b8a6a4b78556f709fbff35aa4adb2e31e20a3bec3026d3f4bf1e561045fb3c.png);
  overflow: hidden;
  padding: 25px;
}
/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/mixins/_clearfix.scss */
.wrapper::after {
  clear: both;
  content: "";
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 28, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
  .wrapper {
    padding: 0px;
  }
}
/* line 48, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper .form-wrapper {
  z-index: 9999;
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 53.75em) {
  /* line 48, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
  .wrapper .form-wrapper {
    padding-top: 80px;
  }
}
/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/mixins/_clearfix.scss */
.wrapper .form-wrapper::after {
  clear: both;
  content: "";
  display: block;
}
/* line 56, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper .form-wrapper .form {
  -webkit-box-shadow: 2px 2px 23px -4px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 2px 2px 23px -4px rgba(0, 0, 0, 0.14);
  box-shadow: 2px 2px 23px -4px rgba(0, 0, 0, 0.14);
  position: relative;
  display: block;
  color: rgba(55, 81, 90, 0.915);
  background-color: #fff;
  padding: 40px;
}
/* line 64, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper .form-wrapper .form h1,
.wrapper .form-wrapper .form h2 {
  color: #608E95;
  text-align: center;
}
/* line 71, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper .form-wrapper .form h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
/* line 77, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper .form-wrapper .form h2 {
  font-size: 32px;
  font-weight: lighter;
  margin-bottom: 25px;
}
@media screen and (min-width: 53.75em) {
  /* line 56, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
  .wrapper .form-wrapper .form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    margin-left: 8.5298%;
  }
  /* line 89, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/grid/_span-columns.scss */
  .wrapper .form-wrapper .form:last-child {
    margin-right: 0;
  }
}
/* line 96, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper .form-wrapper .form input,
.wrapper .form-wrapper .form textarea,
.wrapper .form-wrapper .form select {
  border-radius: 0px;
  border: 1px solid #979797;
  font-size: 16px;
  height: 38px;
  background-color: #FAFAFA;
  color: #9B9B9B;
  font-weight: lighter;
}
/* line 107, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper .form-wrapper .form select {
  color: #96979a;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 0px 15px;
  width: 100%;
  margin: 0;
}
/* line 118, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper .form-wrapper .form label {
  display: none;
}
/* line 122, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper .form-wrapper .form .btn {
  font-size: 18px;
  font-weight: lighter;
  width: 100%;
  background-color: #01506A;
  color: #fff;
  padding: 0px;
}
/* line 131, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.wrapper .form-wrapper .form .btn:hover {
  background-color: #0a3d50;
}

/* line 138, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.hidden {
  display: none;
}

/* line 142, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.cta {
  padding-top: 30px;
  margin-bottom: 55px;
  color: #fff;
  font-size: 38px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 89, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/grid/_span-columns.scss */
.cta:last-child {
  margin-right: 0;
}
/* line 152, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.cta a {
  color: #fff;
  border-bottom: 2px solid #fff;
}
/* line 156, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.cta a:hover {
  color: rgba(158, 170, 175, 0.955);
  border-bottom: 2px solid rgba(158, 170, 175, 0.955);
}

/* line 163, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.footer {
  padding: 25px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #618e93;
  font-size: 18px;
  font-weight: lighter;
}
/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/mixins/_clearfix.scss */
.footer::after {
  clear: both;
  content: "";
  display: block;
}
/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/mixins/_clearfix.scss */
.footer::after {
  clear: both;
  content: "";
  display: block;
}
/* line 173, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.footer .licensing {
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
}
/* line 89, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/grid/_span-columns.scss */
.footer .licensing:last-child {
  margin-right: 0;
}
/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/mixins/_clearfix.scss */
.footer .licensing::after {
  clear: both;
  content: "";
  display: block;
}
/* line 178, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.footer .licensing li {
  display: inline-block;
  padding: 0px 5px;
}
/* line 184, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.footer .address,
.footer .phone {
  color: #618e93;
  text-decoration: none;
  text-align: center;
  margin-left: 25.58941%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}
/* line 89, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/grid/_span-columns.scss */
.footer .address:last-child,
.footer .phone:last-child {
  margin-right: 0;
}

/* line 194, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
input,
fieldset {
  float: left;
}

/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/mixins/_clearfix.scss */
fieldset::after {
  clear: both;
  content: "";
  display: block;
}

/* line 203, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
input.name {
  width: 78%;
  margin-right: 2%;
}

/* line 207, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
input.dob {
  width: 20%;
}

/* line 211, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
input.phone {
  width: 43%;
  margin-right: 2%;
}

/* line 216, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
input.email {
  width: 55%;
}

/* line 219, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
input.city {
  width: 38%;
  margin-right: 2%;
}

/* line 224, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
input.state {
  width: 28%;
  margin-right: 2%;
}

/* line 229, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
input.zip {
  width: 30%;
}

/* line 233, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.thank-you {
  padding-top: 150px;
}

/* line 237, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
legend, #addUsrLabel {
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0 0 0;
  color: #686868;
}

/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/mixins/_clearfix.scss */
.new_quote::after {
  clear: both;
  content: "";
  display: block;
}

/* line 249, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.add_new_insured {
  float: left;
  padding-bottom: 15px;
}
/* line 20, /Users/dayne-arron/bpquote/app/assets/stylesheets/neat/mixins/_clearfix.scss */
.add_new_insured::after {
  clear: both;
  content: "";
  display: block;
}
/* line 254, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.add_new_insured legend, .add_new_insured #addUsrLabel {
  padding-top: 0;
  margin-top: 0;
}

/* line 259, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
#addUsrLabel {
  display: block !important;
  float: left;
  margin: 0;
}

/* line 267, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
#quote_new_usr {
  display: none;
}

/* line 271, /Users/dayne-arron/bpquote/app/assets/stylesheets/app.scss */
.add_new_insured_trigger {
  padding: 15px 0px;
}
