html,
body {
	// width: 100%;
	// height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

.logo {
	height: 60px;
	margin-bottom: 25px;
	background-image: image-url('balboa-logo.svg');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	display: block;
	// @include span-columns(4);
	@include hide-text;
	// @include shift(4);
}

.wrapper {
	// width: 100%;
	// height: 100%;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-image: image-url("background.jpg");
	overflow: hidden;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9;
		background-color: $balboa-blue;
		opacity: 0.5;
	}
	@include clearfix;
	.form-wrapper {
		z-index: 9999;
		position: relative;
		// height: 100%;
		padding-top: 60px;
		@include outer-container;
		.form {
			-webkit-box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.14);
			-moz-box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.14);
			box-shadow: 2px 2px 23px -4px rgba(0,0,0,0.14);
			position: relative;
			display: block;
			color: tint($balboa-blue, 15%);

			h1,
			h2 {
				color: #6d9ba1;
				text-align: center;
				font-weight: 100;
			}

			h1 {
				font-size: 2em;
				line-height: 1.5;
				margin: 0;
			}
			h2 {
				font-size: 1em;
				margin-bottom: 25px;
			}
			background-color: #fff;
			@include span-columns(5);
			@include shift(1);
			@include pad(25px);

			// top: 50%;
			// transform: translateY(-50%);

			// forms

			input,
			textarea,
			select {
				border-radius: 0px;
				border: 1px solid tint($balboa-blue, 45%);
				font-size: 11px;
			}
			select {
				color: #96979a;
				// line-height: 1.2;
				-webkit-appearance: none;
				-webkit-border-radius: 0px;
				padding: 0px 10px;
				height: 30px;
				width: 100%;
				// padding: 10px;
			}
			label {
				display: none;
			}

			.btn {
				margin-top: 25px;
				width: 100%;
				background-color: #0d516a;
				color: #fff;
				@extend .transition;
				&:hover {
					background-color: shade(#0d516a, 25%);
				}
			}
		}
	}
}
.hidden {
	display: none;
}

.cta {
	line-height: 120px;
	color: #fff;
	font-size: 2em;
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
	@include span-columns(12 of 12);
	a {
		color: #fff;
		border-bottom: 2px solid #fff;
		@extend .transition;
		&:hover {
			color: tint($balboa-blue, 55%);
			border-bottom: 2px solid tint($balboa-blue, 55%);
		}
	}
}

.footer {
	@include pad(25px);
	@include outer-container;
	@include clearfix;
	// border: 1px solid red;
	color: #618e93;
	font-size: 14px;
	font-weight: 100;
	// @include omega(1n);

	.licensing {
		text-align: center;
		@include span-columns(10);
		@include shift(1);
		@include clearfix;
		li {
			// float: left;
			display: inline-block;
			padding: 0px 5px;
		}
	}
	.address,
	.phone {
		color: #618e93;
		text-decoration: none;
		text-align: center;
		@include shift(3);
		@include span-columns(6);
	}
}

input,
fieldset {
	float: left;
}

fieldset {
	@include clearfix;
}

input.name {
width: 78%;
margin-right: 2%;
}
input.dob {
	width: 20%;
}

input.phone {
	width: 43%;
	margin-right: 2%;
}

input.email {
	width: 55%;
}
input.city{

width: 38%;
margin-right: 2%;
}
input.state {
width: 28%;
margin-right: 2%
}

input.zip {
	width:30%;
}

.thank-you {
	padding-top: 150px;
}

legend {
	font-weight: 400;
	font-size: 11px;
	padding: 15px 0 0 0;
	color: #96979a;
}

.new_quote {
	// border: 1px solid red;
	@include clearfix;
}